# Default ignored files
/shelf/
/workspace.xml
/.idea/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Personal
/css/*
/fonts/*
/js/*
/sql/
/uploads/*
!/uploads/readme
config.php
/qr.png
